@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
body{
    background-image: url("green.jpg");
    background-repeat: repeat;
    background-size: cover;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.navbar{
    width: 100%;
    margin: none;
    padding: 35px;
    display: flex;
    align-items: center;
}
.logo{
    width: 150px;
    cursor: pointer;
    margin-left: 10px;
}
nav{
    flex: 1;
    text-align: left;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-left: 60px;
    position: relative;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0, 0.5));
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}
nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: green;
    position: absolute;
    left: 0;
    bottom: -10px;
}
nav ul li:hover::after{
    width: 100%;

}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
    margin-left: 8%;
}
h2{
    color: black;
    font-size: 80px;

}
button{
    width: 200px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid green;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: green;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

.card{
    width: 200px;
    height: 190px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(1.jpg);
}
.card2{
    background-image: url(2.jpg);
}
.card3{
    background-image: url(3.jpg);
}
.card4{
    background-image: url(4.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: black;
    text-shadow: 0 0 5px #ffffff;
    text-decoration: solid;
}

@media only screen and (max-width: 414px ){
    .text {
        visibility: collapse;
    }

    .phonetext {
        visibility: visible;
    }
}